<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Create</h1>
    {{ error }}<br />
    <br />
    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        title:

        <br/>
        <input type="text" name="title"/>
        <br/>
        Body:
        <br />
        <input type="textbox" name="body"/>
        <br/>
        Url:
        <br/>
        <input type="text" name="url"/>
        <br/>
        Icon:
        <br/>
        <input type="file" name="icon"/>
        <br/>
        Image:
        <br/>
        <input type="file" name="image"/>
        <br/><br/>
        <input class="btn btn-primary" type="submit" value="Upload">

    </form>
</div>
{% endblock %}
</body>
</html>